.Data{
    margin-top: 3rem;
    margin-bottom: 12rem;
    margin-left: 12rem;
    margin-right: 12rem;
    text-align: center;
}

.New-Country {
    padding: 1rem 1rem 1rem 1rem;
    border-bottom: solid;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}